.foto_personal {
    width: 20%;
    border-radius: 40%; 

    
}

.barra_superior{
    display: flex;
    align-items: center;
}

.contenedor_nombre{
    margin-left: -450px;
}

.des_titulo {
    font-weight: bold;
    text-align: center;
}

.p1{
    font-weight: lighter;
}

.bi {
    font-size: 25px;
}

.exp_laboral{
    font-weight: bold;
    text-align: left;
}

.ant_academicos{
    font-weight: bold;
    text-align: left;
}

.otros_estudios {
    font-weight: bold;
    text-align: left;
}

.lista1 {
    margin-top: 7px;
    font-weight: 500;
}
.lista2 {
    margin-top: 7px;
}

.lista3 {
    margin-top: 7px;
}

.lista4 {
    margin-top: 7px;
}