.foto_personal {
    width: 20%;
    border-radius: 40%; 

    
}

.barra_superior{
    display: flex;
    align-items: center;
}

.contenedor_nombre{
    margin-left: -450px;
}

.des_titulo {
    font-weight: bold;
    text-align: center;
}

.p1{
    font-weight: lighter;
}

.bi {
    font-size: 25px;
}